//colors
$white: #fff;
$white-transparent-50: rgba(255, 255, 255, .5);
$white-transparent-20: rgba(255, 255, 255, .2);
$white-transparent-10: rgba(255, 255, 255, .1);

$black: #000;

$base-gray-1: #2c292a;
$base-gray-2: #999;
$base-gray-3: #f8f8f8;
$base-gray-4: #ccc;
$base-gray-5: #ced4da;

// Animation
$transition-duration: .3s;
